<a href="https://colab.research.google.com/github/PopovAE12/real11/blob/main/Lab4prog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Программирование на языке высокого уровня (Python). https://www.yuripetrov.ru/edu/python 

Попов Александр Евгеньевич 

Группа: АДЭУ-221 

E-mail: Alex04priest@gmail.com

#4.2.1
№4.2.1

Рассчитать значение f при заданном значении вещественного числа x:

![image.png]()

In [1]:
x = int(input())

if x >= 0:
    f = (x**(1/2))+(x**2)
else:
    f = 1/x

print('Получившийся результат: ', round(f, 2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

-10
Получившийся результат:  -0.1

#4.2.2
№4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [37]:
a = int(input("Первое число: "))
b = int(input("Второе число: "))
if a != b:
    if a > b:
        print('макс',a,'мин',b)
    else:
        print('макс',b,'мин',a)
else:
      print('макс',a,'мин',b)
# --------------
# Пример вывода:
#
# первое число: 1
# второе число: 2
# Макс: 2, мин: 1

# первое число: 5
# второе число: 5
# Макс: 5, мин: 5

# первое число: 100
# второе число: -1
# Макс: 100, мин: -1

Первое число: 1
Второе число: 2
макс 2 мин 1

#4.2.3
№4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

In [7]:
a= int(input('Введите значение ширины : '))
b = int(input('Введите значение высоты : '))
c = int(input('Введите значение диаметра головы мальчика: '))

if ((a or b or c) < 0):
    print('Ошибка. Невозможно выполнить скрипт. Вы ввели отрицательное значение.')
else:
    if ((a-1>=c) and (b-1>=c)):
        print('Да.')
    else:
        print('Нет.')

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Введите значение ширины : 5
Введите значение высоты : 6
Введите значение диаметра головы мальчика: 6
Нет.

#4.2.4
№4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [39]:
ytoday = int(input('Введите текущий год: '))
mtoday = int(input('Введите текущий месяц: '))
year = int(input('Введите год рождения: '))
month= int(input('Введите месяц рождения: '))
age = ytoday-year
if (mtoday or month)<=0:
    print('Невозможно выполнить скрипт.')
else:
    if month>mtoday:
        print('Число полных лет:', age-1)
    else:
        print('Число полных лет:', age)
# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2017
Введите текущий месяц: 5
Введите год рождения: 2000
Введите месяц рождения: 1
Число полных лет: 17

#4.2.5
№4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [40]:
x = int(input())
y = int(input())
if (x>0 and y>0):
    print('в 1-й четверти.')
elif (x<0 and y>0):
    print('во 2-й четверти.')
elif (x<0 and y<0):
    print('в 3-й четверти.')
elif (x>0 and y<0):
    print('в 4-й четверти.')
elif (x==0 and y==0):
    print('на пересечении осей x и y.')
elif x==0:
    print('на оси x.') 
elif y==0:
    print('на оси y.') 

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

5
7
в 1-й четверти.

#4.2.6
№4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax^2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [15]:
a = float(input('Введите a: '))
b = float(input('Введите b: '))
c = float(input('Введите c: '))
d = ((b**2)-(4*a*c))
if d<0:
    print('Нет реш.')
elif d==0:
    x1 = ((-1*b)/2*a)
    print('x = ', x1)
elif d>0:
    x2 = (((-1*b)+(d**(1/2)))/2*a)
    x1 = (((-1*b)-(d**(1/2)))/2*a)
    print('x1 =',x1,'x2 =',x2)

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

Введите a: 1
Введите b: 2
Введите c: 1
x =  -1.0

#4.2.7
№4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [41]:
nums_s = 0 
nums_c = 0  
x = int(input())
a = []
while x != 0:
    nums_c = nums_c+1
    a.append(x)
    nums_s = nums_s+x
    x = int(input())

print('Сумм = ', nums_s)
print('Кол-во = ',nums_c)
# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

0
Сумм =  0
Кол-во =  0

#4.2.8
№4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [17]:
n = int(input('Введите n: '))
g = 0
a = list()
a.append(g)
while g<=n:
    g = g+5
    a.append(g) #+ элемент в конец списка.
a.pop() #Pop вычитает последний элемент.
print(a)


# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

Введите n: 12
[0, 5, 10]

#4.2.9
№4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно:

![image.png]()

In [38]:
a = float(input('Введите число: '))

n = 1 
x_sum = list() 
x_sum.append(n) 
while sum(x_sum)<=a: 
    n = n+1
    g = 1/n
    x_sum.append(g) 
print(n)
# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

Введите число: 2
4

#4.2.10
№4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [19]:
n = int(input("n="))

num= 0
summ = 0

while(n): 
   num = num + 1
   summ = summ + n % 10
   n = n // 10
print('Сумм=',summ)
print('Кол-во=',num)
# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n=12345
Сумм= 15
Кол-во= 5

#4.2.11
№4.2.11
Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [20]:
start = int(input('Введите значение границы: ')) 
k = int(input('Введите цифру окончания: ')) 
s = int(input('Введите цифру кратн.: '))
need = list()
while start%s!=0: 
    start += 1
else:
    for x in range(99):
        start += 1
        while start%s!=0:
            start += 1
        else:
            if start%10==k:
                need.append(start)
print(need[0:10])

# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

Введите значение границы: 100
Введите цифру окончания: 7
Введите цифру кратн.: 9
[117, 207, 297, 387, 477, 567, 657, 747, 837, 927]

#4.2.12
№4.2.12

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [21]:
a = int(input('первое число: '))
b = int(input('второе число: '))
ls = list(range(a,b+1,1))
print(ls)
ls.reverse()
print("\n".join(map(str, ls)))
# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

первое число: 1
второе число: 5
[1, 2, 3, 4, 5]
5
4
3
2
1

#4.2.13
№4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

• сумму всех целых чисел от a до b;

• произведение всех целых чисел от a до b;

• среднее арифметическое всех целых чисел от a до b;

• среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))
lss = list(range(a,b+1,1))
sums = sum(lss)
mult = 1
a = 0


# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

#4.2.14
№4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:
пробег лыжника за второй, третий, …, десятый день тренировок;
какой суммарный путь он пробежал за первые 10 дней тренировок.
При выводе вещественных результатов оставьте один знак после запятой.

In [22]:
s = float(input('Введите кол-во км: '))
p = float(input('Введите процент увел.: '))
tot = list() 
tot.append(s) 
g = 0 
f = 1
for x in range(9): 
    s = ((s*(p/100))+s)+0.0001
    f += 1
    tot.append(s)
    print('Пробег за',f,'день: ', round(s,1), 'км.')
total = sum(tot)
print("Суммарный пробег: ", round(total,1))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Введите кол-во км: 5
Введите процент увел.: 10
Пробег за 2 день:  5.5 км.
Пробег за 3 день:  6.1 км.
Пробег за 4 день:  6.7 км.
Пробег за 5 день:  7.3 км.
Пробег за 6 день:  8.1 км.
Пробег за 7 день:  8.9 км.
Пробег за 8 день:  9.7 км.
Пробег за 9 день:  10.7 км.
Пробег за 10 день:  11.8 км.
Суммарный пробег:  79.7

#4.2.15
№4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [33]:
p = int(input('Введите грузоподъемность (кг.): '))
n = int(input('Введите количество (шт.): '))

gr = list()
for x in range(n):
    f = int(input('Введите массу (кг.): '))
    gr.append(f)

if sum(gr)>=p:
    print('Нет.')
else:
    print('Да.')

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Введите грузоподъемность (кг.): 10
Введите количество (шт.): 2
Введите массу (кг.): 3
Введите массу (кг.): 3
Да.

#4.2.16
№4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [26]:
n = int(input('Введите количество районов: '))
total = list()
for x in range(n):
    s = float(input('Введите площадь района: '))
    p = float(input('Введите урожайность в районе: ')) 
    g = p*s
    total.append(g)

print(round(sum(total), 1))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Введите количество районов: 3
Введите площадь района: 4
Введите урожайность в районе: 2
Введите площадь района: 7
Введите урожайность в районе: 3
Введите площадь района: 9
Введите урожайность в районе: 4
65.0

#4.2.17
№4.2.17

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [31]:
num_sum = 0  
num_count = 0 
x = int(input('Введите число. '))
a = list()
while x!=0:
    num_count = num_count+1
    a.append(x)
    num_sum = num_sum+x
    x = int(input('Введите новое число. '))
    if x==0:
        break
print('Сумм = ', num_sum)
print('Кол-во = ',num_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите число. 1
Введите новое число. 2
Введите новое число. 3
Введите новое число. 4
Введите новое число. 0
Сумм =  10
Кол-во =  4

#4.2.18
№4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [ ]:
#—————————————————————

#4.2.19
№4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [29]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
for n in range(a,b+1):
    if n%c==0:
        print(n,end=" ")
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

a=1
b=10
c=2
2 4 6 8 10

#4.2.20
№4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [30]:
n = int(input())
for i in range(100, 1000):
    d = sum(int(s) for s in str(i)) 
    if d == n:
        print(i,end=" ")
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

3
102 111 120 201 210 300

#4.2.21
№4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input("n= "))
b=0
r

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

#4.2.25
№4.2.25

Выведите на экран таблицу умножения на n (2<n≤9) в виде:

![image.png]()

In [34]:
n = int(input('Введите число: '))
for i in range(1, n+1):
    for o in range(1, n+1):
        print(f'{i} * {o} = {i * o}\t', end=' ')
    print('')
# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

Введите число: 5
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25

#4.2.26
№4.2.26

Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

Например, если n=4, на экране должно быть напечатано:

![image.png]()

In [42]:
n=int(input())
for i in range(2,n+1):
    a=2
    c=2
    while(c*c<=i):
        if i%c==0:
            a+=1
            b=i//c
            if b != c:
                a+=1
        c+=1        
    print(i,a*"*");
# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

10
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****