<a href="https://colab.research.google.com/github/PopovAE12/real11/blob/main/popov_lablab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Программирование на языке высокого уровня (Python). https://www.yuripetrov.ru/edu/python

Попов Александр Евгеньевич

Группа: АДЭУ-221

E-mail: Alex04priest@gmail.com

# №5.2.1 
5.2.1

Определите значение 

![image.png]() где sgn - сигнум-функция, а x и y - вещественные числа: ![image.png]()

In [ ]:
def sgn(x):
  if x > 0:
    return 1
  elif x < 0:
    return -1
  return 0

def sgn(y):
  if y > 0:
    return 1
  elif y < 0:
    return -1
  return 0

x = int(input('Ввод x: '))
y = int(input('Ввод y: '))

z =(sgn(x)+y**2)/(sgn(y)-(abs(x))**(1/2))

print("Ответ:", round(z, 2))

# —------------
# Пример вывода:
#
# Введите x: -9
# Введите y: 0
# Ответ: 0.33

Ввод x: -9
Ввод y: 0
Ответ: 0.33

# №5.2.2
5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение None).

Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [ ]:
def input_data():
  for i in range(n):
    demension=input("Измер {}-e:".format(i+1))
    if demension =="-":
      data.append(None)
    else:
      data.append(int(demension))
    i +=1
def avg(new_data):
  return sum(new_data)/len(new_data)
def cleared_data(data):
  new_data=[]
  for x in data:
    if x !=None:
      new_data.append(x)
  return new_data
def print_res2():
  z=avg(cleared_data(data))
  print("Ср темпа:{:.2f}".format(z))

In [ ]:
n=int(input()) 
data=[] 
input_data() 
print_res2()

3
Измер 1-e:10
Измер 2-e:-
Измер 3-e:20
Ср темпа:15.00

# №5.2.3
5.2.3


Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a<b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
g = []

def lucky(num):
    amm = []
    evo = []
    p_c = num%10
    p_f = num//10
    if p_c%2==0:
        evo.append(p_c)
    else:
        amm.append(p_c)
    if p_f%2 == 0:
        evo.append(p_c)
    else:
        amm.append(p_c)
    if len(amm) == len(evo):
        g.append(num)
    amm.clear()
    evo.clear()
    return g

a = int(input('первый номер билета: '))
b = int(input('последний номер билета: '))

for x in range(a, b+1):
  lucky(x)

print(' ' .join(map(str, g)))
# --------------
# Пример вывода:
#
# Первый номер билета: 10
# Последний номер билета: 25
# 10 12 14 16 18 21 23 25

первый номер билета: 10
последний номер билета: 25
10 12 14 16 18 21 23 25

# № 5.2.4
5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
def is_leap(year): 
  if year % 4 ==0 and year %100 != 0 or year % 400 == 0: 
    febrary_day=29 
  else: 
     febrary_day = 28 
  return febrary_day 
def days(month, year): 
  month_day_31=[1,3,5,7,8,10,12] 
  month_day_30=[4,6,9,11] 
  if month in month_day_31: 
    date=31 
  elif month in month_day_30: 
    date=30 
  else: 
    date=is_leap(year) 
  return date 
def previous_date(day, month, year): 
   if day == 1: 
     month -=1 
     if month == 0: 
       year -=1 
       month=12 
       day=days(month, year) 
     else: 
       year=year 
       month = month 
       day=days(month, year) 
   else: 
     day -=1 
     month=month 
     year=year 
   return day, month, year 
def next_date(day, month, year): 
  if day == days(month, year): 
    month += 1 
    if month == 13: 
      month=1 
      year+=1 
      day=1 
    else: 
      month=month 
      day=1 
      year=year 
  else: 
    day+=1 
    month = month 
    year=year 
  return day, month, year 
dmn = input('День, месяц, год: ').split() 
dmn = map(int, dmn) 
day, month, year = dmn 
 
day_next, month_next, year_next = next_date(day, month, year) 
day_prev, month_prev, year_prev = previous_date(day, month, year) 
 
print(f'Предыдущий день: {day_prev}/{month_prev}/{year_prev}') 
print(f'Следующий день: {day_next}/{month_next}/{year_next}') 
  
# —----------— 
# Пример вывода: 
# 
# День, месяц, год через пробел: 1 3 2000 
# Предыдущий день: 29/02/2000 
# Следующий день: 02/03/2000

День, месяц, год: 1 3 2000
Предыдущий день: 29/2/2000
Следующий день: 2/3/2000

# №5.2.5
В задаче № 5.2.4 замените функции получения вчерашней и завтрашней даты на одну:

def another_date(day, month, year, delta=1):
    pass
где delta - ключевой параметр, определяющий сколько дней необходимо добавить или вычесть (если аргумент отрицательный) из переданной даты. Функции, реализованные в задаче № 5.2.4 сделайте локальными для another_date(), вызывая их внутри необходимое количество раз.

In [ ]:
a=int(input())



for i in()
    if y=

# №5.2.6
Дан список из чисел.

Определите их НОК (наименьшее общее кратное) и НОД (наибольший общий делитель).

In [ ]:
def gcd(perv, vtor):
  if vtor > perv:
    a = vtor
  else:
    a = perv
  for i in range(1,a+1):
    if (perv % i == 0) and (vtor % i == 0 ):
      gcd = i
  return gcd


def lcm(perv, vtor):
  if perv > vtor:
    a = perv
  else:
    a = vtor
  while(True):
    if (a % perv == 0) and (a % vtor == 0):
      return a
    a += 1


def gcd_nums(nums):
  for x in range(1, len(nums) - 1):
    nums[x] = gcd(nums[x-1], nums[x])
  return nums[x]

def lcm_nums(nums):
  for x in range(1, len(nums)):
    nums[x] = lcm(nums[x-1], nums[x])
  return nums[x]


nums = input('чилса через пробел: ').split()
nums = list(map(int, nums))
nums1 = nums.copy()
gcd_d = gcd_nums(nums)
lcm_d = lcm_nums(nums1)

print('НОД = ', gcd_d)
print('НОК = ', lcm_d)

чилса через пробел: 6 8 24 16
НОД =  2
НОК =  48

# 5.2.7
Даны n предложений. Определите, сколько из них содержат хотя бы одну цифру.

In [28]:
def has_nomera(sentence):
    sentences = 0
    sentence_list = list(map(str, sentence))
    nomera = '123456789'
    nomera = list(map(str, nomera))
    for y in nomera:
        if y in sentence_list:
            sentences += 1
    return sentences


def sentences_with_nomera_count(sentences):
    print(f'Предлож. с цифрой = {sentences}')

In [30]:
b = int(input('Введите количество предложений: '))
sentences = 0
amount = 0

for x in range(b):
  sentence1 = input(f'Введите предложение №{x+1}: ')
  f = has_nomera(sentence1)
  if f == 1:
    amount += 1

sentences_with_nomera_count(amount)

# --------------
# Пример вывода:
#
# Введите количество предложений: 3
# Введите предложение №1:
# Просто текст
# Введите предложение №2:
# Текст с цифрой 1 (один)
# Введите предложение №3:
# Тут нет цифры
# Предложений с цифрой = 1

Введите количество предложений: 3
Введите предложение №1: Пока
Введите предложение №2: 3 привет
Введите предложение №3: До свидания
Предлож. с цифрой = 1

# №5.2.8
Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки, например:

In [26]:
def print_s_simv(s, k):
 s_len=len(s)
 print(k*(s_len+2))
 print(k+s+k)
 print(k*(s_len+2))
s=input('введите стр: ')
k=input('введите смвл: ')
print_s_simv(s,k)
# —------------
# Пример вывода:
#
# Введите строку: Просто текст
# Введите символ: +
# ++++++++++++++
# +Просто текст+
# ++++++++++++++def print_with_border(s, k):

введите стр: Jdhshddh
введите смвл: =
==========
=Jdhshddh=
==========

# №5.2.9
Напишите функции для перевода числа (N∈[2;16]):

из 10-й системы счисления в N-ю;

из N-й системы счисления в 10-ю.

In [23]:

osnova = '0123456789ABCDEF'
def to_sist(numb, sist):
  f = ''
  while numb>0:
    new = numb % sist
    f = osnova[new] + f
    numb = numb // sist
  return f

def from_sist(numb, sist):
    f = ''
    n = 0
    done = 0
    while numb >= 1:
      new1 = numb%10 * (sist**n)
      n += 1
      done += new1
      numb = numb // 10
    return done

In [24]:
a = to_sist(10, 3)
b = from_sist(1010, 3)

print(a)
print(b)

101
30

# №5.2.10
Для введенного предложения выведите статистику символ=количество. Регистр букв не учитывается.

In [ ]:
from collections import Counter

# №5.2.11
Используя шифр Цезаря (достаточно только букв русского алфавита, знаки препинания не изменяются), зашифруйте, а затем расшифруйте введенную строку.

In [ ]:
def ceasar(text, shift):
  letters = [chr(i) for i in range(ord('а'), ord('я') + 1)]
  letters_upper = [chr(i) for i in range(ord('А'), ord('Я') + 1)]
  res, n = [], ""
  for i in range(len(text)):
    if text[i] in letters:
            n = letters
    elif text[i] in letters_upper:
        n = letters_upper
    else:
        res.append(text[i])
    if text[i] in n:
           
        for j in range(len(n)):
            if 0 <= j + shift < len(n) and text[i] == n[j]:
                res.append(n[j + shift])
            elif j + shift >= len(n) and text[i] == n[j]:
                res.append(n[(1 - j - shift) % (len(n) - 1)])
            elif j + shift < 0 and text[i] == n[j]:
                res.append(n[(j + shift) % len(n)])
  return ''.join(res)

text = input('Введите предложение: ')
shift = int(input('Введите сдвиг: '))

encoded = ceasar(text, shift)
decoded = text
print("Зашифрованная строка:", encoded)
print("Расшифрованная строка:", decoded)
# --------------
# Пример вывода:
#
# Введите предложение: ПрограММиРОВание С++
# Введите сдвиг: 4
# Зашифрованная строка: УфтзфдРРмФТЖдсмй Х++
# Расшифрованная строка: ПрограММиРОВание С++

Введите предложение: абвгджз
Введите сдвиг: 4
Зашифрованная строка: дежзикл
Расшифрованная строка: абвгджз

# №5.2.14
Напишите функцию, которая принимает неограниченное количество числовых аргументов и возвращает кортеж из двух списков: 

отрицательных значений (отсортирован по убыванию);
 
неотрицательных значений (отсортирован по возрастанию).

In [ ]:
def split_numbers(*args):
  pos1=[]
  neg=[]
  for i in args:
    if i > -1:
      pos1.append(i)
      pos=sorted(pos1)
    elif i < 0:
      neg.append(i)
  return neg,pos
print(split_numbers(1, 4, -5, 0, -33))

# --------------
# Пример вывода:
#
# ([-5, -33], [0, 1, 4])

([-5, -33], [0, 1, 4])

# №5.2.16

Составьте две функции для возведения числа в степень: один из вариантов реализуйте в рекурсивном стиле.

In [ ]:
import time 
a = 2
n = 700
start_time=time.time()

5260135901548373507240989882880128665550339802823173859498280903068732154297080822113666536277588451226982968856178217713019432250183803863127814770651880849955223671128444598191663757884322717271293251735781376 0.00101470947265625

#5.2.17
5.2.17
Дано наутральное число. Напишите рекурсивные функции для определения:

-суммы цифр числа.

-количества цифр в числе.

In [19]:
def chis_sum(value):
  if value == 0:
    return 0
  else:
    return (value%10) + chis_sum(value//10) 



def chis_count(value):
  if value == 1:
    return 1
  else:
    return value**0 + chis_count(value//10)

In [20]:
print(chis_sum(12345))
print(chis_count(12345))

# --------------
# Пример вывода:
#
# 15
# 5

15
5